In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
from pandas import DataFrame

In [2]:
# read in data
df_title = pd.read_csv('title.basics.tsv', sep='\t')
df_principals = pd.read_csv('title.principals.tsv', sep='\t')
df_name = pd.read_csv('name.basics.tsv', sep='\t')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# examine title data

df_title.shape
df_title.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short

In [4]:
# examine principals data

df_principals.shape
df_principals.head(5)

      tconst                            principalCast
0  tt0000001            nm0374658,nm0005690,nm1588970
1  tt0000002                      nm0721526,nm1335271
2  tt0000003  nm5442200,nm1335271,nm0721526,nm5442194
3  tt0000004                      nm1335271,nm0721526
4  tt0000005            nm0005690,nm0443482,nm0653042

In [13]:
df_title_princ.dtypes

tconst           object
primaryTitle     object
genres           object
principalCast    object
dtype: object

In [5]:
# exampine names data

df_name.shape
df_name.head(5)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0027125,tt0028333,tt0050419,tt0120689"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0055688,tt0040506,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0059956,tt0063715,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0077975,tt0080455,tt0078723,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0060827,tt0050986"

In [16]:
# combine all titles with principals & count missing values

df_title_sh = df_title.drop(df_title.columns[[1,3,4,5,6,7]], axis = 1)
df_title_princ=pd.merge(left= df_title_sh,right=df_principals,how='left',left_on='tconst',right_on='tconst')
df_title_princ.head(5)

,tconst,primaryTitle,genres,principalCast
0,tt0000001,Carmencita,"Documentary,Short","nm0374658,nm0005690,nm1588970"
1,tt0000002,Le clown et ses chiens,"Animation,Short","nm0721526,nm1335271"
2,tt0000003,Pauvre Pierrot,"Animation,Comedy,Romance","nm5442200,nm1335271,nm0721526,nm5442194"
3,tt0000004,Un bon bock,"Animation,Short","nm1335271,nm0721526"
4,tt0000005,Blacksmith Scene,Short,"nm0005690,nm0443482,nm0653042"

In [17]:
missing = df_title_princ['principalCast'].isnull().sum()
print("Total titles missing actor value:  {}".format(missing))

Total titles missing actor value:  530723

In [25]:
df_title_princ.dtypes

tconst           object
primaryTitle     object
genres           object
principalCast    object
dtype: object

In [24]:
df_title_princ.principalCast=df_title_princ.principalCast.apply(lambda x : x.split(','))

AttributeError: 'float' object has no attribute 'split'