In [1]:
from pandas import *
import pandas as pd
import numpy as np

df1 = pd.DataFrame.from_csv('title.crew.tsv',sep='\t')

totalSize = df1.shape[0]
nullDirectors = float((df1['directors'] == '\N').sum())
nullWriters = float((df1['writers'] == '\N').sum())
nullBoth = df1[(df1['directors'] == '\N') & (df1['writers'] == '\N')].count()


print "Total attributes: ",totalSize

print "Number of null directors: ",nullDirectors
        
print "Number of null writers: ", nullWriters

print "Number of movies lacking both: ",nullBoth[0]

        
nullDPerc = nullDirectors / totalSize * 100
print 'Percent of movies without directors: {:.2f}%'.format(nullDPerc)

nullWPerc = nullWriters / totalSize * 100
print 'Percent of movies without writers: {:.2f}%'.format(nullWPerc)

nullBPerc = float(nullBoth[0]) / totalSize * 100
print 'Percent of movies without either: {:.2f}%'.format(nullBPerc)

Total attributes:  4547944
Number of null directors:  1979440.0
Number of null writers:  2342254.0
Number of movies lacking both:  1666522
Percent of movies without directors: 43.52%
Percent of movies without writers: 51.50%
Percent of movies without either: 36.64%

In [3]:
df1.dtypes

directors    object
writers      object
dtype: object

In [2]:
df1.head()

           directors writers
tconst
tt0000001  nm0005690      \N
tt0000002  nm0721526      \N
tt0000003  nm0721526      \N
tt0000004  nm0721526      \N
tt0000005  nm0005690      \N

Thoughts on Data:
* Many movies in dataset either do not have a director or writer
* High degree of overlap between these, nearly 40% of movies had no info about either
* Neither director or writer attributes should be used as independent variable
* No changes made to entries re: capitalization, etc. as it is case sensitive for comparisons with other data sets